html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s ease 0s;
}

.logo{
    cursor: pointer;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;
}

header.rolagem{
    background-color: #856DDA;
    padding: 20px 4%;
    box-shadow: 2px 2px 15px #616161;
}


header.rolagem ul{
        margin-top: 3%;
}

header.rolagem button{
    margin-top: 1%;
}

header.rolagem .logo{
    margin-top: 1%;
}

header ul {
    list-style-type: none;
}

header nav{
    margin-left: -100px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 40px;
}

header nav ul li a{
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    padding: 0 20px;
    color: rgb(255, 255, 255);
}

.banner{
    height: 100vh;
    background-image: url(/images/alex_ver8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    button{
        padding: 6px 20px;
        margin-right: 15px;
        margin-top: -300px;
        background-color: rgb(255, 255, 255);
        color: #856DDA;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }